
body {
  overflow-y: hidden;
}


.liveness-detector-check {
  margin-top: 140px;
  gap: 5px !important;
}


.liveness-container {
  width: 100%;          
  max-width: 800px;     
  margin: 0 auto;       
  padding: 20px;        
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 500px;        
}

@media (max-width: 768px) {
  .liveness-container {
    width: 90%;         
    height: 400px;      
    padding: 10px;     
  }
}

@media (max-width: 480px) {
  .liveness-container {
    width: 90%;        
    height: 300px;      
  }
}


.liveness-container .aws-liveness-warning {
  position: absolute;
  top: 10px;               
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7); 
  color: white;
  font-size: 14px;
  padding: 5px;
  z-index: 1000;      
}


@media (max-width: 480px) {
  .liveness-container .amplify-liveness-start-screen-warning {
    top: 15px;           
    font-size: 12px;       
    padding: 6px;
  }
}


.liveness-container iframe, 
.liveness-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;   
}


.amplify-button--primary {
  background-color: #2f80ed;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 360px) {
  .liveness-container {
    height: 250px;      
  }
}
